    /* .blogChild{
    grid-row-start: 2;
    grid-row-end: 5;
    overflow-y:scroll;
    }
    #child-3{
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .child-4{
        grid-column-start: 3;
        grid-column-end: 4;
    } */

    .stickyHeading{
    background-color: white;
    position:sticky;
    top:.5vh;
    width:30%;
    height:4vh;
    z-index:100;
    padding: 0vh;
    box-shadow: 0 4px 8px 0 rgba(127, 51, 77,0.9);
    background:radial-gradient( rgb(65, 112, 246),rgb(165, 55, 265))

    }
    .stickyHeading b{
        padding-left: 20px;
        text-shadow: 1px 1px 2px rgb(165, 55, 265);
        color:black;

    }
    .profilePhoto{
    border-radius: 50%;
    margin-left:70px;
    margin-top: 5px;

    }
    .profileContainer{
        border-right: 3px solid rgb(118, 56, 77);
        border-bottom: 3px solid rgb(118, 56, 77);
    }
    .profileName{
        color:rgb(226, 62, 87);
        margin-left: 100px;
    }
    .profileName + p{
        color:rgb(226, 62, 87);
        margin-left: 120px;
    }

    .profileItems{
        list-style-type: none;
        padding: 0px;

    }
    .profileItems li{
        height:5vh;
        color:white;

    }
    .profileItems li:hover{
        background-color:rgb(226, 62, 87);
        color: rgb(42,24,59);
    }
    .profileItems b{
        vertical-align: middle;
        line-height: 50px;
    }

    .blogText{
        margin-top: 50px;
    }
    #search{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #searchBar{
        padding-left: 20px;
        box-shadow: 0 4px 8px 0 rgba(127, 51, 77,0.9);
    }
    .searchCategory{
        border-radius: 50px 0px 0px 50px;
        box-shadow: 0 4px 8px 0 rgba(127, 51, 77,0.9);
        border:none
    }
    .button{
        background:linear-gradient( rgb(65, 112, 246),rgb(165, 55, 265));
        border-radius: 0px 25px 25px 0px;
        box-shadow: 0 4px 8px 0 rgba(127, 51, 77,0.9);

    }
    .button:hover{
        box-shadow: inset 0 0 6px rgba(0, 0, 0, .5)
    }
    .subGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    margin-top: 40px;
    }
.albumCard{
    Background: rgb(42,24,59);
    color:aliceblue
}
.albumContainer > h4{
padding-top: 10px;
}
.albumContainer img{
    width:75%;
    height:75%
}
.albumContainer:hover img{
    box-shadow: 0 8px 16px 0 rgba(255,255,255,0.2);

}
.albumContainer:hover h4{
    color:rgb(226, 62, 87);
}
.albumContainer:hover p{
    color:rgb(226, 62, 87);
}

.externalNav{
    height:96vh;
    border-left: 3px solid rgb(118, 56, 77)
}
.externalNav div{
    color:white;
}
